@media screen and (max-width:425px) {
    .nav, .nav-about, .banner, .online-games-videos, .play-instantly{
        flex-direction: column;
    }

    .banner-image{
        width: 90%;
    }

    .videos{
        width: 80%;
        margin: 0 auto;
    }

    .play-instantly-text{
        width: 100%;
     }

     .play-instantly-text h3{
        text-align: center;
     }

     .play-instantly-text p{
        text-align: center;
        margin: 20px auto;
     }

     .play-instantly-image{
        width: 70%;
        margin: 0 auto;
     }

     #image-right{
        top: 220px;
        left: -50px;
     }
}