@media screen and (max-width:576px) {
    .nav, .nav-about, .banner, .online-games-videos, .play-instantly{
        flex-direction: column;
    }

    .banner-image{
        width: 90%;
    }

    .videos{
        width: 80%;
        margin: 0 auto;
    }

    .play-instantly-text{
        width: 100%;
     }

     .play-instantly-text h3{
        text-align: center;
        margin: 0 auto;
     }

     .play-instantly-text p{
        text-align: center;
        margin: 20px auto;
     }

     .play-instantly-image{
        width: 70%;
        margin: 0 auto;
     }

     #image-right{
        top: 220px;
        left: -50px;
     }

     .button{
        flex-basis: 40%;
     }

     .about{
        display: grid;
        grid-template-columns: repeat(3,30%);
        justify-content: center;
        font-size: 1rem;
        font-weight: 600;
        row-gap: 20px;
     }

     .privacy{
        display: grid;
        grid-template-columns: repeat(2,45%);
        justify-content: center;
        color: rgba(255, 255, 255, 0.60);
        font-size: 1rem;
        font-weight: 500;
        row-gap: 20px;
     }
}